.full-width{
    width: 100%;
    height: 12vh;
    background-color: #CCCCCC;
    background: linear-gradient(20deg,#FFFFFF,#2d73a1,#FFFFFF);
    box-shadow: 2px 1px 2px black;
}
.full-height{
    height:100%;
}
.icon-form{
    width:100%;
    height: 100%;
}
.padding-format{
    padding:2px;
}