<div class="login-page">
  <div class="container-fluid vertical-align">
    <div class="row justify-content-center modal-login-row">
      <div class="modal-login">
        <div class="container-fluid full-width">
          
          <div class="row">
            <div class="col-12 logo">
              <img src="../../../assets/cip-logo.png" class="logo"/>
            </div>
          </div>

          <div class="row full-width margin-separate" style="margin-top: 20px;">
            <div class="col-12">
              <mat-form-field appearance="legacy" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="row full-width margin-separate">
            <div class="col-12">
              <mat-form-field appearance="legacy" class="full-width">
                <mat-label>Senha</mat-label>
                <input type="password" matInput>
              </mat-form-field>
            </div>
          </div>
          
          <div class="row full-width margin-separate">
            <div class="col-12">
              <button mat-flat-button color="primary" class="full-width">Entrar</button>
            </div>
          </div>

          <div class="row full-width">
            <div class="col-12">
              <a href="#">Esqueceu a sua senha?</a>  
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>